{% extends "public/layout/base.html" %}
{% load static %}
{% block body %}
<section class="tw-mt-[70px]">
    <header class="about-hero ">
      <div class="md:tw-w-2/3 tw-m-auto tw-flex tw-items-center tw-min-h-[200px] md:tw-min-h-[500px] xl:tw-min-h-[400px]">

        <h1 class="tw-text-center tw-text-white tw-font-[700] tw-text-3xl md:tw-text-7xl tw-uppercase">
          Turning your ideas into brands, products, and community
        </h1>
      </div>
    </header>
    <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20 "> 
      <!-- items start -->
        <div class="tw-flex tw-px-5 tw-py-7 md:tw-flex-row tw-flex-col-reverse tw-items-center tw-gap-2 md:tw-gap-2">
      
      <div class="tw-w-full md:tw-w-1/2 tw-px-3 md:tw-px-10">
        <h1 class="tw-text-f35 tw-leading-9 tw-mb-4 tw-font-bold tw-text-black">We’re here for you and your brand

        </h1>
        <p class="tw-text-f16">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
       
      </div>

      <div class="tw-w-full md:tw-w-1/2">
        <img class="tw-object-cover tw-object-center tw-rounded-xl" alt="hero" src="{% static 'images/about1.jpg' %}">
      </div>
    </div>
    <!-- items end -->
      <!-- items start -->
        <div class="tw-flex tw-px-5 tw-py-7 md:tw-flex-row tw-flex-col tw-items-center tw-gap-2 md:tw-gap-10">
      
          <div class="tw-w-full md:tw-w-1/2">
            <img class="tw-object-cover tw-object-center tw-rounded-xl" alt="hero" src="{% static 'images/about2.jpg' %}">
          </div>
      <div class="tw-w-full md:tw-w-1/2 tw-px-3 md:tw-px-10">
        <h1 class="tw-text-f35 tw-leading-9 tw-mb-4 tw-font-bold tw-text-black">Helping you grow is what keeps us going
        </h1>
        <p class="tw-text-f16">You trust us with your reputation, so we deliver quality you can rely on. We’re here to turn your ideas into products that make a lasting, meaningful impression.
        </p>
       
      </div>

    </div>
    <!-- items end -->
       <!-- items start -->
       <div class="tw-flex tw-px-5 tw-py-7 md:tw-flex-row tw-flex-col-reverse tw-items-center tw-gap-2 md:tw-gap-10">
      
        <div class="tw-w-full md:tw-w-1/2 tw-px-3 md:tw-px-10">
          <h1 class="tw-text-f35 tw-leading-9 tw-mb-4 tw-font-bold tw-text-black">A one-stop shop for enterprises
          </h1>
          <p class="tw-text-f16">From data-driven strategies to unique products, we’ll provide you with an efficient A–Z business experience. Using personalized solutions and in-house experts, we want to help your brand thrive in ecommerce.
          </p>
         
        </div>
  
        <div class="tw-w-full md:tw-w-1/2">
          <img class="tw-object-cover tw-object-center tw-rounded-xl" alt="hero" src="{% static 'images/about3.jpg' %}">
        </div>
      </div>
      <!-- items end -->
 
    </div>
    <div class="tw-bg-primary tw-py-5 ">
      <!-- <div class="tw-pb-4 tw-text-center">
        <h1 class="tw-text-3xl tw-font-bold  tw-text-white">Our Success in Numbers </h1>
      </div>  -->
   <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20  tw-py-10">
    <div class="tw-text-white tw-rounded-lg tw-max-w-screen-xl lg:tw-mx-auto tw-grid lg:tw-grid-cols-5">


      <div class="tw-h-full tw-text-center tw-px-8">
          <div class="tw-font-semibold tw-text-4xl tw-leading-none tw-mb-2">
              20 years
          </div>
          <div class="tw-font-medium tw-leading-none tw-mb-2">
              of experience
          </div>
      </div>

      <div class=" tw-h-full tw-text-center tw-px-8 lg:tw-px-6">
          <div class="tw-font-semibold tw-text-4xl tw-leading-none tw-mb-2">
              50K+
          </div>
          <div class="tw-font-medium tw-leading-none tw-mb-2">
              Items produced daily
          </div>
      </div>

      <div class="tw-h-full tw-text-center tw-px-8 lg:tw-px-6">
          <div class="tw-font-semibold tw-text-4xl tw-leading-none tw-mb-2">
              95%
          </div>
          <div class="tw-font-medium tw-leading-none tw-mb-2">
              Shipped out in 48 hours
          </div>
      </div>

      <div class="tw-h-full tw-text-center tw-px-8 lg:tw-px-6">
          <div class="tw-font-semibold tw-text-4xl tw-leading-none tw-mb-2">
              9.8M
          </div>
          <div class="tw-font-medium tw-leading-none tw-mb-2">
              Items shipped in 2020
          </div>
      </div>

      <div class=" tw-h-full tw-text-center tw-px-8 lg:tw-px-6">
          <div class="tw-font-semibold tw-text-4xl tw-leading-none tw-mb-2">
              99.3%
          </div>
          <div class="tw-font-medium tw-leading-none tw-mb-2">
              Customer satisfaction
          </div>
      </div>

  </div>
   </div>
  </div>
  <section>
    <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20  tw-py-20">
     
         <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4 tw-space-y-10 md:tw-space-y-0 md:tw-gap-20 tw-text-black text-center md:tw-text-left">
          <!-- item start -->
          <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
            <i class="fa-solid fa-globe tw-text-5xl"></i>
            <div class="tw-space-y-2 tw-pr-5">

              <h1 class="tw-font-black tw-text-2xl">Global fulfillment </h1>
              <p class="tw-text-f16 tw-font-normal tw-leading-6">
                Get fast fulfillment and enjoy good shipping rates. We print where your customers are and work with the most demanded carriers.

              </p>
            </div>
          </div>
          <!-- item end -->
          <!-- item start -->
          <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
            <i class="fa-solid fa-receipt tw-text-5xl"></i>
            
            <div class="tw-space-y-2 tw-pr-5">

              <h1 class="tw-font-black tw-text-2xl">Easy-to-use design tools </h1>
              <p class="tw-text-f16 tw-font-normal tw-leading-6">
                Create your designs using our Design Maker. Choose from a variety of clipart, shapes, symbols, and access over 80 million premium stock photos and illustrations from Getty Images.
              </p>
            </div>
          </div>
          <!-- item end -->
          <!-- item start -->
          <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
            <i class="fa-solid fa-store tw-text-5xl"></i>
            
            <div class="tw-space-y-2 tw-pr-5">

              <h1 class="tw-font-black tw-text-2xl">No minimums </h1>
              <p class="tw-text-f16 tw-font-normal tw-leading-6">Save money and avoid any leftover stock. The products you sell are created only when your customer places an order.
              </p>
            </div>
          </div>
          <!-- item end -->
          <!-- item start -->
          <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
            <i class="fa-solid fa-flag-checkered tw-text-5xl"></i>
            
            <div class="tw-space-y-2 tw-pr-5">

              <h1 class="tw-font-black tw-text-2xl">No upfront costs </h1>
              <p class="tw-text-f16 tw-font-normal tw-leading-6">There are no monthly or upfront fees to pay. We only charge for fulfillment and shipping once you receive an order.
              </p>
            </div>
          </div>
          <!-- item end -->
          <!-- item start -->
          <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
            <i class="fa-solid fa-wand-magic tw-text-5xl"></i>
            
            <div class="tw-space-y-2 tw-pr-5">

              <h1 class="tw-font-black tw-text-2xl">Complete automation  </h1>
              <p class="tw-text-f16 tw-font-normal tw-leading-6">Import products from your store automatically to make the fulfillment process quick and easy.

              </p>
            </div>
          </div>
          <!-- item end -->
          <!-- item start -->
          <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
            <i class="fa-solid fa-shirt tw-text-5xl"></i>
            
            <div class="tw-space-y-2 tw-pr-5">

              <h1 class="tw-font-black tw-text-2xl">Your custom branding </h1>
              <p class="tw-text-f16 tw-font-normal tw-leading-6">Get all the credit! We fulfill and ship everything under your brand with custom labels, pack-ins, and more.
              </p>
            </div>
          </div>
          <!-- item end -->

         </div>
     
  </div>
</section>
<div class="tw-bg-gray-100 body-font">
 
    <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20  tw-py-24 tw-mx-auto">
      <h1 class="tw-text-3xl tw-font-bold  tw-text-black tw-mb-12 tw-text-center">Customers say this about us
      </h1>
      <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-6">
     
          <div class="tw-h-full tw-bg-white tw-p-8 tw-rounded">
            <i class="fa-solid fa-quote-right text-4xl"></i>
            <p class="tw-leading-relaxed tw-mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
            <a class="tw-inline-flex tw-items-center">
              <img alt="testimonial" src="https://dummyimage.com/106x106" class="tw-w-12 tw-h-12 tw-rounded-full tw-flex-shrink-0 tw-object-cover tw-object-center">
              <span class="tw-flex-grow tw-flex tw-flex-col tw-pl-4">
                <span class="title-font tw-font-medium tw-text-black">Holden Caulfield</span>
                <span class="tw-text-gray-500 tw-text-sm">My Studio</span>
              </span>
            </a>
          </div>
          <div class="tw-h-full tw-bg-white tw-p-8 tw-rounded">
            <i class="fa-solid fa-quote-right text-4xl"></i>
            <p class="tw-leading-relaxed tw-mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
            <a class="tw-inline-flex tw-items-center">
              <img alt="testimonial" src="https://dummyimage.com/106x106" class="tw-w-12 tw-h-12 tw-rounded-full tw-flex-shrink-0 tw-object-cover tw-object-center">
              <span class="tw-flex-grow tw-flex tw-flex-col tw-pl-4">
                <span class="title-font tw-font-medium tw-text-black">Holden Caulfield</span>
                <span class="tw-text-gray-500 tw-text-sm">My Studio</span>
              </span>
            </a>
          </div>
          <div class="tw-h-full tw-bg-white tw-p-8 tw-rounded">
            <i class="fa-solid fa-quote-right text-4xl"></i>
            <p class="tw-leading-relaxed tw-mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
            <a class="tw-inline-flex tw-items-center">
              <img alt="testimonial" src="https://dummyimage.com/106x106" class="tw-w-12 tw-h-12 tw-rounded-full tw-flex-shrink-0 tw-object-cover tw-object-center">
              <span class="tw-flex-grow tw-flex tw-flex-col tw-pl-4">
                <span class="title-font tw-font-medium tw-text-black">Holden Caulfield</span>
                <span class="tw-text-gray-500 tw-text-sm">My Studio</span>
              </span>
            </a>
          </div>
      
      
      </div>
    </div>
  
</div>
  <div class="tw-my-20">
    <div class="tw-text-center flex flex-row tw-items-center tw-pb-2 md:tw-pb-10">
      <img src="{% static "images/faq.png" %}" alt="faq" class="tw-m-auto tw-w-1/42">
   </div>
  <!-- accordion start-->
  <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20 ">    
    <div class="tw-max-w-3xl tw-mx-auto">
    <div id="accordion-color" data-accordion="collapse" data-active-classes="tw-bg-primary tw-text-white">
    <!-- item start -->
     <h2 id="accordion-color-heading-1 " class="tw-group">
       <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-border-b-4 tw-border-solid tw-border-primary  font-bold tw-text-lg tw-text-black" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
         <span>What is Question?</span>
         <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 tw-text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
         </svg>
       </button>
     </h2>
     <div id="accordion-color-body-1" class="hidden  tw-text-f16  tw-font-normal text-lg" aria-labelledby="accordion-color-heading-1"  >
       <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
         <p class="mb-2 text-gray-500 dark:text-gray-400">Brand Name is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
         <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
       </div>
     </div>
     <!-- item end-->
    <!-- item start -->
     <h2 id="accordion-color-heading-2" class="tw-group">
       <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-border-b-4 tw-border-solid tw-border-primary  font-bold tw-text-lg tw-text-black" data-accordion-target="#accordion-color-body-2" aria-expanded="true" aria-controls="accordion-color-body-2">
         <span>What is Question Two?</span>
         <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 tw-text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
         </svg>
       </button>
     </h2>
     <div id="accordion-color-body-2" class="hidden  tw-text-f16  tw-font-normal text-lg" aria-labelledby="accordion-color-heading-2"  >
       <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
         <p class="mb-2 text-gray-500 dark:text-gray-400">Brand Name is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
         <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
       </div>
     </div>
     <!-- item end-->
    <!-- item start -->
     <h2 id="accordion-color-heading-3" class="tw-group">
       <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-border-b-4 tw-border-solid tw-border-primary  font-bold tw-text-lg tw-text-black" data-accordion-target="#accordion-color-body-3" aria-expanded="true" aria-controls="accordion-color-body-3">
         <span>What is Question Three?</span>
         <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 tw-text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
         </svg>
       </button>
     </h2>
     <div id="accordion-color-body-3" class="hidden  tw-text-f16  tw-font-normal text-lg" aria-labelledby="accordion-color-heading-3"  >
       <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
         <p class="mb-2 text-gray-500 dark:text-gray-400">Brand Name is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
         <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
       </div>
     </div>
     <!-- item end-->
    <!-- item start -->
     <h2 id="accordion-color-heading-4" class="tw-group">
       <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-border-b-4 tw-border-solid tw-border-primary  font-bold tw-text-lg tw-text-black" data-accordion-target="#accordion-color-body-4" aria-expanded="true" aria-controls="accordion-color-body-4">
         <span>What is Question Four?</span>
         <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 tw-text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
         </svg>
       </button>
     </h2>
     <div id="accordion-color-body-4" class="hidden  tw-text-f16  tw-font-normal text-lg" aria-labelledby="accordion-color-heading-4"  >
       <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
         <p class="mb-2 text-gray-500 dark:text-gray-400">Brand Name is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
         <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
       </div>
     </div>
     <!-- item end-->
  
   
   </div>
  </div>
</div>

   
<!-- accordion end -->
  </div>
</section>
  
  
{% endblock body %}