{% extends 'public/layout/profile-base.html' %}
{% block breadcrumb %}
<nav class="tw-flex" aria-label="Breadcrumb">
  <ol class="tw-inline-flex tw-items-center tw-space-x-1 md:tw-space-x-3">
    <li class="tw-inline-flex tw-items-center">
      <a href="#" class="tw-inline-flex tw-items-center tw-text-f14 tw-font-normal  hover:tw-text-primary  dark:tw-text-gray-400 dark:hover:tw-text-white">
        <svg class="tw-w-3 tw-h-3 tw-mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
      </a>
    </li>
    <li>
      <div class="tw-flex tw-items-center">
        <svg class="tw-w-3 tw-h-3  tw-mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="#" class="tw-ml-1 tw-text-f14 tw-font-normal  ">Shop</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="tw-flex tw-items-center">
        <svg class="tw-w-3 tw-h-3 tw-mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="tw-ml-1 tw-text-f14 tw-font-normal  md:tw-ml-2 ">Edit Profile</span>
      </div>
    </li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block pagetitle %}
Edit  Profiles Details
{% endblock pagetitle %}
{% block profilebody %}


<div class="tw-border tw-border-solid tw-border-gray-200 tw-mt-5 tw-p-5 ">

    <div class="tw-px-5 tw-relative tw-overflow-x-auto sm:tw-rounded-lg">
        <h1 class="tw-font-bold tw-text-xl border-b tw-border-solid tw-border-gray-200 tw-py-2">
          Edit  Profiles Details
        </h1>
      <form action="#" class="tw-mt-10">
        <!-- input start -->
        <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 group">
            <label for="fullname" class="profile-input-label">First name</label>
            <input type="text" name="fullname" id="fullname" class="profile-input" value="jhon Deo" required /> 
        </div>
        <!-- input end -->
        <!-- input start -->
        <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 group">
            <label for="mobilenumber" class="profile-input-label">Mobile Number</label>
            <input type="text" name="fullname" id="mobilenumber" class="profile-input" value="+99-85XXXXXXXX" required /> 
        </div>
        <!-- input end -->
        <!-- input start -->
        <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 group">
            <label for="email" class="profile-input-label">Mobile Number</label>
            <input type="mail" name="email" id="email" class="profile-input" value="name@example.com" required /> 
        </div>
        <!-- input end -->
        <!-- input start -->
        <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 tw-flex tw-space-x-2">
            <div class="tw-flex tw-items-center gap-1">
                <input id="male" class="peer/draft" type="radio" name="status" checked />
                <label for="male" class="peer-checked/draft:tw-text-primary">Male</label>
              
            </div>
            <div class="tw-flex tw-items-center gap-1">
                <input id="female" class="peer/draft" type="radio" name="status"  />
                <label for="female" class="peer-checked/draft:tw-text-primary">Female</label>
              
            </div>

        </div>
        <!-- input end -->
          <!-- input start -->
          <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 group">
            <label for="dob" class="profile-input-label">Date of Birth</label>
            <input type="date" name="dob" id="dob" class="profile-input"  required /> 
        </div>
        <!-- input end -->
           <!-- input start -->
           <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 group">
            <label for="location" class="profile-input-label">Location</label>
            <input type="text" name="location" id="location" class="profile-input" value="United Kingdom" required /> 
        </div>
           <!-- input start -->
           <div class="tw-relative tw-z-0 tw-w-full tw-mb-6 tw-text-center">
           
            <input type="submit" name="submit" class="btn-primary !tw-py-5 !tw-px-20 tw-cursor-pointer !tw-rounded !tw-text-f18 !tw-font-bold" value="Save Details"  /> 
        </div>
        <!-- input end -->
      </form>
    </div>
    
</div>
{% endblock profilebody %}