{% extends "public/layout/base.html" %}
{% block title %}Print on Your Thought{% endblock title %}
{% block body %}
<div class="hero-bg">
  <div class="tw-container tw-m-auto">
      <div class="md:tw-w-2/3 tw-m-auto tw-text-center tw-py-10 md:tw-py-28 tw-text-white tw-px-5 md:tw-px-0">
          <a href="#" class="tw-inline-flex tw-justify-between tw-items-center tw-py-1 tw-px-1 tw-pr-4 tw-mb-7 tw-text-sm tw-text-primary tw-bg-gray-100 tw-rounded-full ">
              <span class="tw-text-xs tw-bg-primary tw-rounded-full tw-text-white tw-px-4 tw-py-1.5 tw-mr-3">Sign Up</span>
              <span class="tw-text-sm tw-font-medium">Generate Ai Arts</span>
              <svg class="tw-w-2.5 tw-h-2.5 tw-ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
              </svg>
          </a>
          <h1 class="tw-i-500 tw-text-3xl md:tw-text-[61px] md:tw-mb-5">Brand <span class="tw-text-primary">Name is Heart</span> of Arts</h1>
          <p class="tw-i-300 md:tw-text-[24px] tw-leading-2 md:tw-leading-9 md:tw-px-20 tw-py-5 md:tw-py-10">
              A simple solution for creating and selling products that engage
              your fans and help you monetize your content.
              No cost, no hassle, no risk.
          </p>

          <form class="tw-max-w-3xl tw-mx-auto">   
              <label for="default-search" class="tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-sr-only dark:tw-text-white">Search</label>
              <div class="tw-relative">
                  <div class="tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3 tw-pointer-events-none">
                      <svg class="tw-w-4 tw-h-4 tw-text-gray-500 dark:tw-text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                      </svg>
                  </div>
                  <input type="search" id="default-search" class="tw-block tw-w-full tw-p-4 tw-pl-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 focus:tw-ring-primary focus:tw-border-primary dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 dark:tw-text-white dark:focus:tw-ring-primary dark:focus:tw-border-primary" placeholder="What's in your mind?" required="">
                  <button type="submit" class="tw-text-white tw-absolute tw-right-2.5 tw-bottom-2.5 tw-bg-primary hover:tw-bg-primary focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-4 tw-py-2 dark:tw-bg-primary dark:hover:tw-bg-primary dark:focus:tw-ring-primary">Generate</button>
              </div>
          </form>
        
      </div>
  </div>

</div>

<div class="tw-container tw-m-auto tw-px-5 md:tw-px-20 tw-py-24">

    <div class="tw-text-center tw-mb-20">
        <h1 class=" tw-text-f35 tw-font-bold tw-text-gray-900 tw-mb-4">What makes Brand Name superior
        </h1>
        <p class="tw-text-f16 tw-leading-relaxed xl:tw-w-2/4 lg:tw-w-3/4 tw-mx-auto tw-text-gray-500 tw-text-f16 tw-font-normal">Blue bottle
            crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps
            microdosing banh mi pug.</p>
        <div class="tw-flex tw-mt-6 tw-justify-center">
            <div class="tw-w-16 tw-h-1 tw-rounded-full tw-bg-primary tw-inline-flex"></div>
        </div>
    </div>
    <div class="tw-flex tw-flex-wrap sm:tw--m-4 tw--mx-4 tw--mb-10 tw--mt-4 md:tw-space-y-0 tw-space-y-6">
        <div class="tw-p-4 md:tw-w-1/3 tw-flex tw-flex-col tw-text-center tw-items-center">
            <div
                class="tw-w-20 tw-h-20 tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-indigo-100 tw-text-primary tw-mb-5 tw-flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" class="tw-w-10 tw-h-10" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
            </div>
            <div class="tw-flex-grow">
                <h2 class="tw-text-gray-900 tw-text-f18 tw-font-medium tw-mb-3">400+ Print on demand products
                </h2>
                <p class="tw-text-f16 tw-leading-relaxed tw-text-gray-500">Shoes, Jewelry, Watches, T-shirts, Hoodies, Bags, Rugs,
                    Shower curtains, And more.</p>
                <a href="#" class="tw-mt-3 tw-text-primary tw-inline-flex tw-items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="tw-w-4 tw-h-4 tw-ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="tw-p-4 md:tw-w-1/3 tw-flex tw-flex-col tw-text-center tw-items-center">
            <div
                class="tw-w-20 tw-h-20 tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-indigo-100 tw-text-primary tw-mb-5 tw-flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" class="tw-w-10 tw-h-10" viewBox="0 0 24 24">
                    <circle cx="6" cy="6" r="3"></circle>
                    <circle cx="6" cy="18" r="3"></circle>
                    <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg>
            </div>
            <div class="tw-flex-grow">
                <h2 class="tw-text-gray-900 tw-text-f18 tw-font-medium tw-mb-3 ">Mockup generator </h2>
                <p class="tw-text-f16 tw-leading-relaxed tw-text-gray-500">Make it easier to publish products with your custom
                    designs, more actual display effect. </p>
                <a href="#" class="tw-mt-3 tw-text-primary tw-inline-flex tw-items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="tw-w-4 tw-h-4 tw-ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="tw-p-4 md:tw-w-1/3 tw-flex tw-flex-col tw-text-center tw-items-center">
            <div
                class="tw-w-20 tw-h-20 tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-indigo-100 tw-text-primary tw-mb-5 tw-flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" class="tw-w-10 tw-h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>
            <div class="tw-flex-grow">
                <h2 class="tw-text-gray-900 tw-text-f18 tw-font-medium tw-mb-3 ">Automatic/manual orders
                </h2>
                <p class="tw-text-f16 tw-leading-relaxed tw-text-gray-500">Free to manage & process order manually/automatically
                    with less time cost.</p>
                <a href="#" class="tw-mt-3 tw-text-primary tw-inline-flex tw-items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="tw-w-4 tw-h-4 tw-ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="tw-bg-gray-100">
  <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20 tw-py-10">
    <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-10">
        <div class="tw-w-full md:tw-w-1/2">
            <img src="https://assets.telegraphindia.com/telegraph/2022/Oct/1666424870_untitled-design-23.jpg" alt="" class="tw-w-full tw-object-cover tw-max-h-[350px] tw-rounded">
        </div>
        <div class="tw-w-full md:tw-w-1/2 tw-mt-1 md:tw-mt-10">
            <h1 class="tw-font-bold tw-text-f35 tw-text-gray-900">Why we are different</h1>
            <p class="tw-text-f16 tw-font-normal tw-leading-relaxed tw-text-black tw-my-6">
                We offer over 400 print on demand products (shoes, watches, jewelry, shirts, rugs, and so on), as well
                as some fashion accessories that can be customized.There is no minimum order quantity, print on demand
                products, and print on demand dropshipping as desired.Your order will be air freighted; custom branded
                3-day production and 7-day global express are available.</p>
  
            <p class="tw-py-5">
                <a href="#" class="btn-primary i-400  !tw-py-4 !tw-px-6 "> Learn More</a>
            </p>
        </div>
    </div>
  </div>
</div>

{% endblock body %}
