{% extends "public/layout/auth.html" %}
{% load static %}
{% block content %}
<h3 class="tw-my-4 tw-text-2xl tw-font-roboto tw-font-semibold tw-text-gray-700 ">Account Login</h3>
<form action="" method="post" class="tw-flex tw-flex-col tw-space-y-5">
    {% csrf_token %}
    <div class="tw-flex tw-flex-col tw-space-y-1">
        <label for="email" class="tw-text-sm tw-font-semibold tw-text-gray-500">Email address</label>
        <input type="email" id="email" autofocus
            class="tw-px-4 tw-py-2 tw-transition tw-duration-300 tw-border tw-border-gray-300 tw-rounded focus:tw-border-transparent focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-blue-200" />
    </div>
    <div class="tw-flex tw-flex-col tw-space-y-1">
        <div class="tw-flex tw-items-center tw-justify-between">
            <label for="password" class="tw-text-sm tw-font-semibold tw-text-gray-500">Password</label>
            <a href="{% url 'forget-password' %}" class="tw-text-sm tw-text-primary hover:tw-underline focus:tw-text-red-600">Forgot
                Password?</a>
        </div>
        <input type="password" id="password"
            class="tw-px-4 tw-py-2 tw-transition tw-duration-300 tw-border tw-border-gray-300 tw-rounded focus:tw-border-transparent focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-blue-200" />
    </div>
    <div class="tw-flex tw-items-center tw-space-x-2">
        <input type="checkbox" id="remember"
            class="tw-w-4 tw-h-4 tw-transition tw-duration-300 tw-rounded focus:tw-ring-2 focus:tw-ring-offset-0 focus:tw-outline-none focus:tw-ring-blue-200" />
        <label for="remember" class="tw-text-sm tw-font-semibold tw-text-gray-500">Remember me</label>
    </div>
    <div>
        <button type="submit"
            class="tw-w-full tw-px-4 tw-py-2 tw-text-lg tw-font-semibold tw-text-white tw-transition-colors tw-duration-300 tw-bg-primary tw-rounded-md tw-shadow  focus:tw-outline-none focus:tw-ring-blue-200 focus:tw-ring-4">
            Log in
        </button>
    </div>

</form>
{% endblock content %}
