{% extends "public/layout/auth.html" %}
{% load static %}
{% block content %}
<h3 class="tw-my-4 tw-text-2xl tw-font-semibold tw-text-gray-700">Reset Password</h3>
<form action="/reset/{{id}}/{{token}}" method="post" class="tw-flex tw-flex-col tw-space-y-5" id="form">
    {% csrf_token %}

    <!-- input start -->
    <div class="tw-flex tw-flex-col tw-space-y-1">
        <label for="password" class="tw-text-sm tw-font-semibold tw-text-gray-500">Password</label>
        <input type="password" name="password" id="password" 
            class="tw-px-4 tw-py-2 tw-transition tw-duration-300 tw-border tw-border-gray-300 tw-rounded focus:tw-border-transparent focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-blue-200" required/>
    </div>
    <!-- input end -->
    <!-- input start -->
    <div class="tw-flex tw-flex-col tw-space-y-1">
        <label for="cpassword" name="cpassword" class="tw-text-sm tw-font-semibold tw-text-gray-500">Confirm Password</label>
        <input type="password" id="cpassword" 
            class="tw-px-4 tw-py-2 tw-transition tw-duration-300 tw-border tw-border-gray-300 tw-rounded focus:tw-border-transparent focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-blue-200" required/>
    </div>
    <!-- input end -->


    <div>
        <button type="submit"
            class="btn-primary tw-w-full tw-px-4 tw-py-2 tw-text-lg !tw-font-semibold tw-text-white tw-transition-colors tw-duration-300  !tw-rounded-md tw-shadow  focus:tw-outline-none focus:tw-ring-blue-200 focus:tw-ring-4">
            Sign up
        </button>
    </div>

</form>
{% endblock content %}
{% block script %}
<script>
  $(document).ready(function () {
  let isFormSubmitting = false; // Flag to track if the form is already submitting

  $("form").submit(function (e) {
    // Reset any previous error messages
    $(".error-message").remove();


    const password = $("#password").val().trim();
    const confirmPassword = $("#cpassword").val().trim();

    let hasError = false; // Track if there are validation errors

    

    // Validate password strength
    if (password === "") {
      e.preventDefault(); // Prevent form submission
      $("#password").after('<p class="tw-text-sm tw-text-primary">Password is required.</p>');
      hasError = true;
    } else if (!isStrongPassword(password)) {
      e.preventDefault(); // Prevent form submission
      $("#password").after('<p class="tw-text-sm tw-text-primary">Password must be strong (min. 8 characters, at least one uppercase letter, one lowercase letter, one number, and one special character).</p>');
      hasError = true;
    }

    // Validate confirm password only if both password fields are not empty
    if (password !== "" && confirmPassword !== "") {
      if (confirmPassword !== password) {
        e.preventDefault(); // Prevent form submission
        $("#cpassword").after('<p class="tw-text-sm tw-text-primary">Passwords do not match.</p>');
        hasError = true;
      }
    }

    // If there are no validation errors, allow form submission
    if (!hasError) {
      isFormSubmitting = true; // Set the flag to indicate that the form is submitting
    }
  });

  // Function to validate email format
  function isValidEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
  }

  // Function to validate names (alphabetic characters only)
  function isValidName(name) {
    const nameRegex = /^[A-Za-z]+$/;
    return nameRegex.test(name);
  }

  // Function to check password strength
  function isStrongPassword(password) {
    // Password must be at least 8 characters long and contain
    // at least one uppercase letter, one lowercase letter,
    // one number, and one special character
    const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    return passwordRegex.test(password);
  }
});

</script>
{% endblock script %}