{% extends "public/layout/base.html" %}
{% load static %}
{% block body %}
<section class="tw-mt-[90px]">
  <!-- start -->
  <nav class="tw-flex tw-container tw-m-auto tw-px-5 md:tw-px-14" aria-label="Breadcrumb">
    <ol class="tw-inline-flex tw-items-center tw-space-x-1 md:tw-space-x-3">
      <li class="tw-inline-flex tw-items-center">
        <a href="#" class="tw-inline-flex tw-items-center tw-text-f14 tw-font-normal  hover:tw-text-primary  dark:tw-text-gray-400 dark:hover:tw-text-white">
          <svg class="tw-w-3 tw-h-3 tw-mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          Product
        </a>
      </li>
      <li aria-current="page">
        <div class="tw-flex tw-items-center">
          <svg class="tw-w-3 tw-h-3 tw-mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="tw-ml-1 tw-text-f14 tw-font-normal  md:tw-ml-2 ">Wall Arts
          </span>
        </div>
      </li>
     
    </ol>
  </nav>
  <!-- end -->
    <div class="tw-container tw-m-auto tw-px-5 md:tw-px-20 "> 
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-10">
            <div class="tw-w-1/5 tw-relative tw-top-10">
                <aside class="tw-h-screen">
                
                
<div  id="accordion-color" data-accordion="collapse" data-active-classes="tw-border-l-8 tw-border-primary tw-border-solid" data-inactive-classes="tw-border-b tw-border-solid tw-border-gray-200">
   <!-- accordion item start -->
    <h2 id="accordion-collapse-heading-1 "  >
      <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-3 tw-font-bold tw-text-black " data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
        <span>Wall Arts</span>
        <svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="hidden tw-border-b tw-border-solid tw-border-gray-200" aria-labelledby="accordion-collapse-heading-1">
      <div class="tw-p-3 tw-border-b-1 tw-border-gray-200 ">
        <div class="tw-flex tw-flex-col tw-gap-3">
          
             <a href="#" class="tw-text-f16">Posters</a>
             <a href="#" class="tw-text-f16">Wooden Framed Posters</a>
             <a href="#" class="tw-text-f16">Metal Framed Posters</a>
             <a href="#" class="tw-text-f16">Posters with hangers</a>
             <a href="#" class="tw-text-f16">Canvas</a>
             <a href="#" class="tw-text-f16">Aluminum Print</a>
             <a href="#" class="tw-text-f16">Acrylic Print</a>
             <a href="#" class="tw-text-f16">Foam Print</a>
             <a href="#" class="tw-text-f16">Wood Prints</a>
        </div>
      </div>
    </div>
    <!-- accordion item start -->
   <!-- accordion item start -->
    <h2 id="accordion-collapse-heading-2 "  >
      <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-3 tw-font-bold tw-text-black " data-accordion-target="#accordion-collapse-body-2" aria-expanded="true" aria-controls="accordion-collapse-body-2">
        <span>Photo Books</span>
        <svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-2" class="hidden tw-border-b tw-border-solid tw-border-gray-200" aria-labelledby="accordion-collapse-heading-2">
      <div class="tw-p-3 tw-border-b-1 tw-border-gray-200 ">
        <div class="tw-flex tw-flex-col tw-gap-3">
          
             <a href="#" class="tw-text-f16">Posters</a>
             <a href="#" class="tw-text-f16">Wooden Framed Posters</a>
             <a href="#" class="tw-text-f16">Metal Framed Posters</a>
             <a href="#" class="tw-text-f16">Posters with hangers</a>
             <a href="#" class="tw-text-f16">Canvas</a>
             <a href="#" class="tw-text-f16">Aluminum Print</a>
             <a href="#" class="tw-text-f16">Acrylic Print</a>
             <a href="#" class="tw-text-f16">Foam Print</a>
             <a href="#" class="tw-text-f16">Wood Prints</a>
        </div>
      </div>
    </div>
    <!-- accordion item start -->
  </div>
  
                     
                 </aside>
            </div>
            <div class="tw-w-4/5">
                <div class="tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-between tw-border-b tw-border-r-gray-200 tw-border-solid tw-py-4">
                    <div class="tw-w-1/2">
                        <h1 class="tw-text-f35 tw-font-bold">Wall Arts</h1>
                    </div>
                    <div class="tw-w-1/2">
                
<form action="/products">   
    <label for="default-search" class="tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-sr-only dark:tw-text-white">Search</label>
    <div class="tw-relative">
        <div class="tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3 tw-pointer-events-none">
            <svg class="tw-w-4 tw-h-4 tw-text-gray-500 dark:tw-text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="tw-block tw-w-full tw-p-4 tw-pl-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 focus:tw-ring-primary focus:tw-border-primary " placeholder="Search Arts" required>
        <button type="submit" class="tw-text-white tw-absolute tw-right-2.5 tw-bottom-2.5  btn-primary">Search</button>
    </div>
</form>

                    </div>
               
                 


                </div>
                <div class="tw-mt-6 tw-grid tw-grid-cols-1 tw-gap-x-6 tw-gap-y-10 sm:tw-grid-cols-1 lg:tw-grid-cols-3 ">
                    <!-- item start -->
                    <div class="tw-w-full tw-overflow-hidden tw-bg-white tw-shadow-md tw-rounded-xl tw-duration-500 hover:tw-scale-105 hover:tw-shadow-xl">
                        <a href="/single-product">
                            <img src="https://cdn.sanity.io/images/69l8b8xl/production/4317ed5af704b038eb2170cb8a0488b902dbd9d1-2245x1587.jpg?fm=webp"
                                    alt="Product" class="tw-h-80 tw-w-72 tw-object-cover tw-rounded-t-xl" />
                            <div class="tw-px-4 tw-py-3 tw-w-full">
                                
        
        
        
        <p class="tw-text-f18 tw-font-bold tw-text-black tw-truncate tw-block tw-capitalize">Classic Matte Paper Wooden Framed Poster</p>
                              
                                <div class="tw-flex  tw-gap-2 tw-flex-col  tw-items-center">
                                    <p class="tw-text-f16 tw-font-semibold tw-text-black tw-cursor-auto ">Ready-to-hang available</p>
                                    <span class=" tw-mr-3 tw-uppercase tw-text-[12px]">Fulfilled in <span class="tw-font-bold">21 </span>  countries</span>    
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="tw-w-full tw-overflow-hidden tw-bg-white tw-shadow-md tw-rounded-xl tw-duration-500 hover:tw-scale-105 hover:tw-shadow-xl">
                        <a href="/single-product">
                            <img src="https://cdn.sanity.io/images/69l8b8xl/production/4317ed5af704b038eb2170cb8a0488b902dbd9d1-2245x1587.jpg?fm=webp"
                                    alt="Product" class="tw-h-80 tw-w-72 tw-object-cover tw-rounded-t-xl" />
                            <div class="tw-px-4 tw-py-3 tw-w-full">
                                
        
        
        
        <p class="tw-text-f18 tw-font-bold tw-text-black tw-truncate tw-block tw-capitalize">Classic Matte Paper Wooden Framed Poster</p>
                              
                                <div class="tw-flex  tw-gap-2 tw-flex-col  tw-items-center">
                                    <p class="tw-text-f16 tw-font-semibold tw-text-black tw-cursor-auto ">Ready-to-hang available</p>
                                    <span class=" tw-mr-3 tw-uppercase tw-text-[12px]">Fulfilled in <span class="tw-font-bold">21 </span>  countries</span>    
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="tw-w-full tw-overflow-hidden tw-bg-white tw-shadow-md tw-rounded-xl tw-duration-500 hover:tw-scale-105 hover:tw-shadow-xl">
                        <a href="/single-product">
                            <img src="https://cdn.sanity.io/images/69l8b8xl/production/4317ed5af704b038eb2170cb8a0488b902dbd9d1-2245x1587.jpg?fm=webp"
                                    alt="Product" class="tw-h-80 tw-w-72 tw-object-cover tw-rounded-t-xl" />
                            <div class="tw-px-4 tw-py-3 tw-w-full">
                                
        
        
        
        <p class="tw-text-f18 tw-font-bold tw-text-black tw-truncate tw-block tw-capitalize">Classic Matte Paper Wooden Framed Poster</p>
                              
                                <div class="tw-flex  tw-gap-2 tw-flex-col  tw-items-center">
                                    <p class="tw-text-f16 tw-font-semibold tw-text-black tw-cursor-auto ">Ready-to-hang available</p>
                                    <span class=" tw-mr-3 tw-uppercase tw-text-[12px]">Fulfilled in <span class="tw-font-bold">21 </span>  countries</span>    
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- item end -->
                </div>
            </div>
        </div>
 
    </div>

</section>
  
  
{% endblock body %}