{% extends "public/layout/base.html" %}
{% load static %}
{% block body %}
<section class="tw-mt-[90px]">
  
    <div class="tw-container tw-m-auto tw-pt-8 tw-px-5 md:tw-px-20 "> 
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-3">
            <div class="tw-w-1/5 tw-relative tw-top-10">
                <aside id="separator-sidebar" class="tw-fixed tw-top-12 tw-left-0 tw-z-40 tw-w-64 tw-h-screen tw-transition-transform tw--translate-x-full sm:tw-translate-x-0" aria-label="Sidebar">
                    <div class="tw-h-full tw-px-3 tw-py-4 tw-overflow-y-auto tw-bg-gray-100 ">
                        <h1 class="tw-font-bold tw-text-f18 tw-text-center py-2 mt-10">Category</h1>
                       <ul class="tw-space-y-2 tw-font-medium tw-mt-2">
                       
                      
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2  tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group tw-bg-primary text-white">  Poster </a>
                          </li>
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group">  Wooden Framed Posters </a>
                          </li>
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group"> Metal Framed Posters </a>
                          </li>
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group">  Posters with hangers </a>
                          </li>
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group">Canvas</a>
                          </li>
                          
                         
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group"> Aluminum Print</a>
                          </li>
                         
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group">Acrylic Print</a>
                          </li>
                          
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group">Foam Print</a>
                          </li>
                          
                          <li>
                             <a href="#" class="tw-flex tw-items-center tw-p-2 tw-text-gray-900 tw-rounded-lg  hover:tw-bg-primary hover:tw-text-white  group">Wood Prints</a>
                          </li>
                          
                         
                        
                          
                         
                          
                          
                          
                         
                      
                    </div>
                 </aside>
            </div>
            <div class="tw-w-4/5">
                <div class="tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-between tw-border-b tw-border-r-gray-200 tw-border-solid tw-py-4">
                    <div class="tw-w-1/2">
                        <h1 class="tw-text-f35 tw-font-bold">Wooden Framed Posters</h1>
                    </div>
                    <div class="tw-w-1/2">
                
<form action="/products">   
    <label for="default-search" class="tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-sr-only dark:tw-text-white">Search</label>
    <div class="tw-relative">
        <div class="tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3 tw-pointer-events-none">
            <svg class="tw-w-4 tw-h-4 tw-text-gray-500 dark:tw-text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="tw-block tw-w-full tw-p-4 tw-pl-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 focus:tw-ring-primary focus:tw-border-primary " placeholder="Search Arts" required>
        <button type="submit" class="tw-text-white tw-absolute tw-right-2.5 tw-bottom-2.5  btn-primary">Search</button>
    </div>
</form>

                    </div>
               
                 


                </div>
                <div class="tw-mt-6 tw-grid tw-grid-cols-1 tw-gap-x-6 tw-gap-y-10 sm:tw-grid-cols-1 lg:tw-grid-cols-3 ">
                    <!-- item start -->
                    <div class="tw-w-full tw-overflow-hidden tw-bg-white tw-shadow-md tw-rounded-xl tw-duration-500 hover:tw-scale-105 hover:tw-shadow-xl">
                        <a href="#">
                            <img src="https://cdn.sanity.io/images/69l8b8xl/production/4317ed5af704b038eb2170cb8a0488b902dbd9d1-2245x1587.jpg?fm=webp"
                                    alt="Product" class="tw-h-80 tw-w-72 tw-object-cover tw-rounded-t-xl" />
                            <div class="tw-px-4 tw-py-3 tw-w-full">
                                
        
        
        
        <p class="tw-text-f18 tw-font-bold tw-text-black tw-truncate tw-block tw-capitalize">Classic Matte Paper Wooden Framed Poster</p>
                              
                                <div class="tw-flex  tw-gap-2 tw-flex-col  tw-items-center">
                                    <p class="tw-text-f16 tw-font-semibold tw-text-black tw-cursor-auto ">Ready-to-hang available</p>
                                    <span class=" tw-mr-3 tw-uppercase tw-text-f14">Fulfilled in <span class="tw-font-bold">21 </span>  countries</span>    
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="tw-w-full tw-overflow-hidden tw-bg-white tw-shadow-md tw-rounded-xl tw-duration-500 hover:tw-scale-105 hover:tw-shadow-xl">
                        <a href="#">
                            <img src="https://cdn.sanity.io/images/69l8b8xl/production/4317ed5af704b038eb2170cb8a0488b902dbd9d1-2245x1587.jpg?fm=webp"
                                    alt="Product" class="tw-h-80 tw-w-72 tw-object-cover tw-rounded-t-xl" />
                            <div class="tw-px-4 tw-py-3 tw-w-full">
                                
        
        
        
        <p class="tw-text-f18 tw-font-bold tw-text-black tw-truncate tw-block tw-capitalize">Classic Matte Paper Wooden Framed Poster</p>
                              
                                <div class="tw-flex  tw-gap-2 tw-flex-col  tw-items-center">
                                    <p class="tw-text-f16 tw-font-semibold tw-text-black tw-cursor-auto ">Ready-to-hang available</p>
                                    <span class=" tw-mr-3 tw-uppercase tw-text-f14">Fulfilled in <span class="tw-font-bold">21 </span>  countries</span>    
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="tw-w-full tw-overflow-hidden tw-bg-white tw-shadow-md tw-rounded-xl tw-duration-500 hover:tw-scale-105 hover:tw-shadow-xl">
                        <a href="#">
                            <img src="https://cdn.sanity.io/images/69l8b8xl/production/4317ed5af704b038eb2170cb8a0488b902dbd9d1-2245x1587.jpg?fm=webp"
                                    alt="Product" class="tw-h-80 tw-w-72 tw-object-cover tw-rounded-t-xl" />
                            <div class="tw-px-4 tw-py-3 tw-w-full">
                                
        
        
        
        <p class="tw-text-f18 tw-font-bold tw-text-black tw-truncate tw-block tw-capitalize">Classic Matte Paper Wooden Framed Poster</p>
                              
                                <div class="tw-flex  tw-gap-2 tw-flex-col  tw-items-center">
                                    <p class="tw-text-f16 tw-font-semibold tw-text-black tw-cursor-auto ">Ready-to-hang available</p>
                                    <span class=" tw-mr-3 tw-uppercase tw-text-f14">Fulfilled in <span class="tw-font-bold">21 </span>  countries</span>    
                                   
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- item end -->
                </div>
            </div>
        </div>
 
    </div>

</section>
  
  
{% endblock body %}