{% extends "public/layout/auth.html" %}
{% load static %}
{% block content %}

<h3 class="tw-my-4 tw-text-2xl tw-font-semibold tw-text-gray-700">Reset  Password</h3>
<form action="" method="post" class="tw-flex tw-flex-col tw-space-y-5">
  {% csrf_token %}
  <div class="tw-flex tw-flex-col tw-space-y-1">
    <label for="password" class="tw-text-sm tw-font-semibold tw-text-gray-500">Password</label>
    <input
      type="password"
      id="password"
      autofocus
      class="tw-px-4 tw-py-2 tw-transition tw-duration-300 tw-border tw-border-gray-300 tw-rounded focus:tw-border-transparent focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-blue-200"
    />
  </div>
  <div class="tw-flex tw-flex-col tw-space-y-1">
    <label for="cpassword" class="tw-text-sm tw-font-semibold tw-text-gray-500">Confirm Password</label>
    <input
      type="cpassword"
      id="cpassword"
      autofocus
      class="tw-px-4 tw-py-2 tw-transition tw-duration-300 tw-border tw-border-gray-300 tw-rounded focus:tw-border-transparent focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-blue-200"
    />
  </div>
 

  <div>
    <button
      type="submit"
      class="tw-w-full tw-px-4 tw-py-2 tw-text-lg tw-font-semibold tw-text-white tw-transition-colors tw-duration-300 tw-bg-primary tw-rounded-md tw-shadow  focus:tw-outline-none focus:tw-ring-blue-200 focus:tw-ring-4"
    >
      Reset
    </button>
  </div>

</form>
{% endblock content %}
