{% extends "public/layout/base.html" %}
{% load static %}
{% block body %}
<section class="tw-mt-[90px]">
  
    <section class="tw-text-gray-600 body-font tw-overflow-hidden">
        <div class="container tw-px-5 tw-py-24 tw-mx-auto">
          <div class="lg:tw-w-4/5 tw-mx-auto tw-flex tw-flex-wrap">
            <div  class="lg:tw-w-1/2 tw-w-full lg:tw-h-auto tw-h-64 " >
             <img src="https://preflight-cdn.live.gelato.tech/product/preview?type=scene&image_url=https%3A%2F%2Fgelato-api-test.s3.amazonaws.com%2Fpreflight%2Fassets%2Ftests%2Fmountain-1024x1024.jpg&width=600&height=600&product_uid=framed_poster_mounted_130x180-mm-5x7-inch_black_wood_w12xt22-mm_plexiglass_130x180-mm-5r_200-gsm-80lb-uncoated_4-0_hor&scene=default" class="tw-w-full">
            </div>

            <div class="lg:tw-w-1/2 tw-w-full lg:tw-pl-10 lg:tw-py-6 tw-mt-6 lg:tw-mt-0">
              <h2 class="tw-text-sm title-font  tw-tracking-widest">Wooden Framed Posters</h2>
              <h1 class=" tw-text-3xl title-font tw-font-medium tw-mb-1">Premium Matte Paper Wooden Framed Poster
            </h1>
              <div class="tw-border-t tw-border-b tw-border-gray-200 tw-border-solid tw-py-4 tw-text-f16">
                <i class="fa-solid fa-earth pr-3"></i>Fulfilled in <span class="tw-font-bold">16 </span>countries
              </div>
              <div class="tw-py-4">
                <p class="tw-py-3">Size</p>
                <div class="tw-flex tw-flex-wrap tw-gap-3">
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                </div>
              </div>
              <p class="tw-leading-relaxed">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
              <div class="tw-flex tw-mt-6 tw-items-center tw-pb-5 tw-border-b-2 tw-border-gray-100 tw-mb-5">
                <div class="tw-flex">
                  <span class="tw-mr-3">Color</span>
                  <button class="tw-border-2 tw-border-gray-300 tw-rounded-full tw-w-6 tw-h-6 focus:tw-outline-none"></button>
                  <button class="tw-border-2 tw-border-gray-300 tw-ml-1 tw-bg-gray-700 tw-rounded-full tw-w-6 tw-h-6 focus:tw-outline-none"></button>
                  <button class="tw-border-2 tw-border-gray-300 tw-ml-1 tw-bg-indigo-500 tw-rounded-full tw-w-6 tw-h-6 focus:tw-outline-none"></button>
                </div>
                <div class="tw-flex tw-ml-6 tw-items-center">
                  <span class="tw-mr-3">Size</span>
                  <div class="tw-relative">
                    <select class="tw-rounded tw-border tw-appearance-none tw-border-gray-300 tw-py-2 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-indigo-200 focus:tw-border-indigo-500 tw-text-base tw-pl-3 tw-pr-10">
                      <option>SM</option>
                      <option>M</option>
                      <option>L</option>
                      <option>XL</option>
                    </select>
                    <span class="tw-absolute tw-right-0 tw-top-0 tw-h-full tw-w-10 tw-text-center tw-text-gray-600 tw-pointer-events-none tw-flex tw-items-center tw-justify-center">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="tw-w-4 tw-h-4" viewBox="0 0 24 24">
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <div class="tw-flex">
                <span class="title-font tw-font-medium tw-text-2xl tw-text-gray-900">$58.00</span>
                <button class="tw-flex tw-ml-auto tw-text-white tw-bg-indigo-500 tw-border-0 tw-py-2 tw-px-6 focus:tw-outline-none hover:tw-bg-indigo-600 tw-rounded">Button</button>
                <button class="tw-rounded-full tw-w-10 tw-h-10 tw-bg-gray-200 tw-p-0 tw-border-0 tw-inline-flex tw-items-center tw-justify-center tw-text-gray-500 tw-ml-4">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="tw-w-5 tw-h-5" viewBox="0 0 24 24">
                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

</section>
  
  
{% endblock body %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js"></script>
  <script>
    var images = [
  {
    url: "https://source.unsplash.com/gKXKBY-C-Dk/1920x1080",
    thumb: "https://source.unsplash.com/gKXKBY-C-Dk/400x400",
    original: "https://source.unsplash.com/gKXKBY-C-Dk"
  },
  {
    url: "https://source.unsplash.com/9UUoGaaHtNE/1920x1080",
    thumb: "https://source.unsplash.com/9UUoGaaHtNE/400x400",
    original: "https://source.unsplash.com/9UUoGaaHtNE"
  },
  {
    url: "https://source.unsplash.com/w2DsS-ZAP4U/1920x1080",
    thumb: "https://source.unsplash.com/w2DsS-ZAP4U/400x400",
    original: "https://source.unsplash.com/w2DsS-ZAP4U"
  },
  {
    url: "https://source.unsplash.com/cWOzOnSoh6Q/1920x1080",
    thumb: "https://source.unsplash.com/cWOzOnSoh6Q/400x400",
    original: "https://source.unsplash.com/cWOzOnSoh6Q"
  },
  {
    url: "https://source.unsplash.com/NodtnCsLdTE/1920x1080",
    thumb: "https://source.unsplash.com/NodtnCsLdTE/400x400",
    original: "https://source.unsplash.com/NodtnCsLdTE"
  },
  {
    url: "https://source.unsplash.com/eMzblc6JmXM/1920x1080",
    thumb: "https://source.unsplash.com/eMzblc6JmXM/400x400",
    original: "https://source.unsplash.com/eMzblc6JmXM"
  },
  {
    url: "https://source.unsplash.com/so5nsYDOdxw/1920x1080",
    thumb: "https://source.unsplash.com/so5nsYDOdxw/400x400",
    original: "https://source.unsplash.com/so5nsYDOdxw"
  },
  {
    url: "https://source.unsplash.com/GtwiBmtJvaU/1920x1080",
    thumb: "https://source.unsplash.com/GtwiBmtJvaU/400x400",
    original: "https://source.unsplash.com/GtwiBmtJvaU"
  },
  {
    url: "https://source.unsplash.com/YCPkW_r_6uA/1920x1080",
    thumb: "https://source.unsplash.com/YCPkW_r_6uA/400x400",
    original: "https://source.unsplash.com/YCPkW_r_6uA"
  },
  {
    url: "https://source.unsplash.com/IbPxGLgJiMI/1920x1080",
    thumb: "https://source.unsplash.com/IbPxGLgJiMI/400x400",
    original: "https://source.unsplash.com/IbPxGLgJiMI"
  },
  {
    url: "https://source.unsplash.com/Hd7vwFzZpH0/1920x1080",
    thumb: "https://source.unsplash.com/Hd7vwFzZpH0/400x400",
    original: "https://source.unsplash.com/Hd7vwFzZpH0"
  },
  {
    url: "https://source.unsplash.com/0F7GRXNOG7g/1920x1080",
    thumb: "https://source.unsplash.com/0F7GRXNOG7g/400x400",
    original: "https://source.unsplash.com/0F7GRXNOG7g"
  }
];

window.ProductGallery = function ($el) {
  return {
    isFullScreen: false,
    showArrows: false,
    count: images.length,
    activeImage: 0,
    $imageEl: $el.querySelectorAll("ul")[0],
    $thumbNavEl: $el.querySelectorAll("ul")[1] || null,
    $zoomEl: $el.querySelector("*[data-zoom]"),
    $lensEl: $el.querySelector("*[data-lens]"),
    zoomIsActive: false,
    zoomRatio: { width: 1, height: 1 },
    zoomSize: null,
    lensSize: null,
    previewSize: null,

    fullSizeZoomDisabled: true,
    fullSizeZoomIsActive: false,
    $fullSizeZoomEl: null,
    fullSizeZoomSize: null,
    
    nextImage: function () {
      this.activeImage =
        this.activeImage + 1 < this.count ? this.activeImage + 1 : 0;
    },
    
    prevImage: function () {
      this.activeImage =
        this.activeImage > 0 ? this.activeImage - 1 : this.count - 1;
    },
    
    mousewheelEvent: function (event) {
      if (event.deltaY > 0) {
        this.nextImage();
        event.preventDefault();
      } else if (event.deltaY < 0) {
        this.prevImage();
        event.preventDefault();
      }
    },
    
    scroll: function () {
      this.scrollToImage();
      this.scrollToThumb();
    },
    
    scrollToThumb: function () {
      if (!this.$thumbNavEl) {
        return;
      }
      const $activeThumb = this.$thumbNavEl.querySelector(
        "ul li:nth-child(0n+" + (this.activeImage + 1) + ")"
      );
      if ($activeThumb) {
        this.$thumbNavEl.offsetTop =
          $activeThumb.offsetTop +
          this.$thumbNavEl.clientHeight / 2 -
          $activeThumb.clientHeight / 2;
        this.$thumbNavEl.scrollLeft =
          $activeThumb.offsetLeft -
          this.$thumbNavEl.clientWidth / 2 +
          $activeThumb.clientWidth / 2;
      }
    },
    
    scrollToImage: function () {
      const $activeImage = this.$imageEl.children[this.activeImage+1];
      this.$imageEl.scrollLeft = $activeImage.offsetLeft;
      if(this.isFullScreen){
        this.showFullScreenImage();
      }
    },
    
    toggleFullScreen: function () {
      this.isFullScreen
        ? this.closeFullScreen()
        : this.openFullScreen();
      
      // wait for css rendering then scroll to active image
      let _this = this;
      setTimeout(function () {
        _this.scroll();
      }, 100);
    },

    openFullScreen: function () {
      document.body.style.overflowY = "hidden";
      document.body.style.height = "100vh";
      this.isFullScreen = true;
      
      // wait for css transition because we need the element size
      setTimeout(this.showFullScreenImage.bind(this), 200);
    },
        
    closeFullScreen: function () {
      document.body.style.overflowY = null;
      document.body.style.height = null;
      this.isFullScreen = false;
      this.$fullSizeZoomEl.remove();
      this.zoomOut;
      
      // wait for css transition and remove zoom
      setTimeout(this.zoomOut.bind(this), 100);
    },
    
    showFullScreenImage: async function () {
      
      if(this.$fullSizeZoomEl){
        this.$fullSizeZoomEl.remove();
      }
      
      this.$fullSizeZoomEl = document.createElement("span");
      this.$fullSizeZoomEl.classList.add(
        "absolute", "top-0", "left-0",
        "inline-block", "w-full", "h-full",
        "bg-white", "bg-contain", "bg-center", "bg-no-repeat",
        "cursor-zoom-in",
        "transition-all", "duration-300", "ease-out"
      );

      this.$imageEl.querySelectorAll('li span')[this.activeImage].append(this.$fullSizeZoomEl);

      this.fullSizeZoomSize = this.$fullSizeZoomEl.getBoundingClientRect();
      this.fullSizeImageSize = await this.getImageMeta(
        images[this.activeImage].original
      );

      this.$fullSizeZoomEl.style.backgroundImage = "url('" + images[this.activeImage].original + "')";

      if(this.fullSizeImageSize.width > this.fullSizeZoomSize.width || this.fullSizeImageSize.height > this.fullSizeZoomSize.height){
        this.fullSizeZoomDisabled = false;
      }
    },
    
    updateFullScreenZoom: function (event) {            
      let x = event.layerX - event.target.offsetLeft;
      let y = event.layerY - event.target.offsetTop;
      
      x = -1 * (this.fullSizeImageSize.width - this.fullSizeZoomSize.width) / (this.fullSizeZoomSize.width / x);
      y = -1 * (this.fullSizeImageSize.height - this.fullSizeZoomSize.height) / (this.fullSizeZoomSize.height / y);
      
      this.$fullSizeZoomEl.style.backgroundPosition = x + "px " + y + "px";
    },
    
    resetFullScreenZoom: function () {
      this.$fullSizeZoomEl.classList.add("bg-contain", "cursor-zoom-in");
      this.$fullSizeZoomEl.classList.remove("bg-auto", "cursor-zoom-out");
      this.$fullSizeZoomEl.style.backgroundPosition = "center";
    },
    
    setFullScreenZoom: function () {
      this.$fullSizeZoomEl.classList.remove("bg-contain", "cursor-zoom-in");
      this.$fullSizeZoomEl.classList.add("bg-auto", "cursor-zoom-out");
    },

    showZoom: function () {
      this.zoomIsActive = true;
    },
    
    hideZoom: function () {
      this.zoomIsActive = false;
    },
    
    zoomOut: function () {
      if (this.isFullScreen) {
        if (this.fullSizeZoomIsActive) {
          this.resetFullScreenZoom();
        }
        return;
      }
      this.hideZoom();
    },
    
    zoomIn: async function () {
      
      if (this.isFullScreen) {
        if (this.fullSizeZoomIsActive) {
          this.setFullScreenZoom();
        }
        return;
      }
      
      this.showZoom();
      this.$zoomEl.style.backgroundImage = null;
      this.origImgSize = await this.getImageMeta(
        images[this.activeImage].original
      );
      this.previewSize = this.$imageEl.getBoundingClientRect();
      this.zoomSize = this.$zoomEl.getBoundingClientRect();
      this.hideZoom();

      // display origin image
      this.$zoomEl.style.backgroundImage = "url('" + images[this.activeImage].original + "')";

      // original image to preview image ratio
      this.zoomRatio.width = this.origImgSize.width / this.previewSize.width;
      this.zoomRatio.height = this.origImgSize.height / this.previewSize.height;

      // lens size
      this.lensSize = {
        width: this.zoomSize.width / this.zoomRatio.width + 4,
        height: this.zoomSize.height / this.zoomRatio.height + 4
      };
      this.$lensEl.style.width = this.lensSize.width + "px";
      this.$lensEl.style.height = this.lensSize.height + "px";

      this.showZoom();
    },
    
    zoomMove: function (event) {
      event.stopPropagation();

      if (this.isFullScreen) {
        if (!this.fullSizeZoomDisabled && this.fullSizeZoomIsActive) {
          this.updateFullScreenZoom(event);
        }
        return;
      }

      if (!this.lensSize) {
        return;
      }

      // lens position
      let x = event.layerX - event.target.offsetLeft - this.lensSize.width / 2;
      let y = event.layerY - event.target.offsetTop - this.lensSize.height / 2;
      x = x > 0 ? x : 0;
      y = y > 0 ? y : 0;
      x =
        x + this.lensSize.width > this.previewSize.width
          ? this.previewSize.width - this.lensSize.width
          : x;
      y =
        y + this.lensSize.height > this.previewSize.height
          ? this.previewSize.height - this.lensSize.height
          : y;

      // translate (with transform-gpu class) has better performance than absolute positioning
      this.$lensEl.style.webkitTransform = "translateX(" + x + "px) translateY(" + y + "px)";

      // zoom image position
      this.$zoomEl.style.backgroundPosition = (x * -this.zoomRatio.width) + "px " + (y * -this.zoomRatio.height) + "px";
    },

    toggleFullSizeZoom: function (event) {
      this.fullSizeZoomIsActive
        ? this.closeFullSizeZoom(event)
        : this.showFullSizeZoom(event);
    },
    
    closeFullSizeZoom: function (event) {
      this.fullSizeZoomIsActive = false;
      this.resetFullScreenZoom();
    },
    
    showFullSizeZoom: function (event) {
      this.fullSizeZoomIsActive = true;
      this.setFullScreenZoom();
    },

    getImageMeta(url) {
      return new Promise((resolve, reject) => {
        const img = new Image();
        img.onload = () => resolve(img);
        img.onerror = (err) => reject(err);
        img.src = url;
      });
    }
  };
};

  </script>
{% endblock script %}