{% extends "public/layout/base.html" %}
{% load static %}
{% block body %}
<section class="tw-mt-[90px]">
    <!-- start -->
   
    <nav class="tw-flex tw-container tw-m-auto tw-px-5 md:tw-px-14" aria-label="Breadcrumb">
      <ol class="tw-inline-flex tw-items-center tw-space-x-1 md:tw-space-x-3">
        <li class="tw-inline-flex tw-items-center">
          <a href="#" class="tw-inline-flex tw-items-center tw-text-f14 tw-font-normal  hover:tw-text-primary  dark:tw-text-gray-400 dark:hover:tw-text-white">
            <svg class="tw-w-3 tw-h-3 tw-mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
            </svg>
            Product
          </a>
        </li>
        <li>
          <div class="tw-flex tw-items-center">
            <svg class="tw-w-3 tw-h-3  tw-mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <a href="/products" class="tw-ml-1 tw-text-f14 tw-font-normal  ">Wall Arts</a>
          </div>
        </li>
        <li aria-current="page">
          <div class="tw-flex tw-items-center">
            <svg class="tw-w-3 tw-h-3 tw-mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="tw-ml-1 tw-text-f14 tw-font-normal  md:tw-ml-2 ">Premium Matte Paper Wooden Framed Poster
            </span>
          </div>
        </li>
      </ol>
    </nav>
  
    <!-- end -->
   
        <div class="container tw-px-5  tw-mx-auto">
          <div class="lg:tw-w-4/5 tw-mx-auto tw-flex tw-flex-wrap">
            <div  class="lg:tw-w-1/2 tw-w-full lg:tw-h-[500px] tw-h-64 tw-mt-14 tw-sticky tw-top-0" >
              <div  class="swiper mySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="https://preflight-cdn.live.gelato.tech/product/preview?type=scene&image_url=https%3A%2F%2Fgelato-api-test.s3.amazonaws.com%2Fpreflight%2Fassets%2Ftests%2Fmountain-1024x1024.jpg&width=600&height=600&product_uid=framed_poster_mounted_130x180-mm-5x7-inch_black_wood_w12xt22-mm_plexiglass_130x180-mm-5r_200-gsm-80lb-uncoated_4-0_hor&scene=default" class="tw-w-full" />
                  </div>
                 
                  <div class="swiper-slide">
                    <img src="https://cdn.sanity.io/images/69l8b8xl/production/e10cea64c378d3eabfb80bbe80cc1b7ce7ab1f6c-1600x1600.jpg?fm=webp" class="tw-w-full" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.sanity.io/images/69l8b8xl/production/066febd3e3e2c8b4f705e8010abb60fc2d31de54-1280x1280.jpg?fm=webp" class="tw-w-full" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.sanity.io/images/69l8b8xl/production/fc508fe2b80c9e122df1e2a2523de74809dc92f7-1600x1600.jpg?fm=webp" class="tw-w-full" />
                  </div>
                 
                
                
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
              </div>
              <div thumbsSlider="" class="swiper mySwiper tw-mt-3">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="https://preflight-cdn.live.gelato.tech/product/preview?type=scene&image_url=https%3A%2F%2Fgelato-api-test.s3.amazonaws.com%2Fpreflight%2Fassets%2Ftests%2Fmountain-1024x1024.jpg&width=600&height=600&product_uid=framed_poster_mounted_130x180-mm-5x7-inch_black_wood_w12xt22-mm_plexiglass_130x180-mm-5r_200-gsm-80lb-uncoated_4-0_hor&scene=default" class="" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.sanity.io/images/69l8b8xl/production/e10cea64c378d3eabfb80bbe80cc1b7ce7ab1f6c-1600x1600.jpg?fm=webp" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.sanity.io/images/69l8b8xl/production/066febd3e3e2c8b4f705e8010abb60fc2d31de54-1280x1280.jpg?fm=webp" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.sanity.io/images/69l8b8xl/production/fc508fe2b80c9e122df1e2a2523de74809dc92f7-1600x1600.jpg?fm=webp" />
                  </div>
                 
                  
               
                </div>
              </div>
            </div>

            <div class="lg:tw-w-1/2 tw-w-full lg:tw-pl-10 lg:tw-py-6 tw-mt-6 lg:tw-mt-0">
              <h2 class="tw-text-sm title-font  tw-tracking-widest">Wooden Framed Posters</h2>
              <h1 class=" tw-text-3xl title-font tw-font-medium tw-mb-1">Premium Matte Paper Wooden Framed Poster
            </h1>
              <div class="tw-border-t tw-border-b tw-border-gray-200 tw-border-solid tw-py-4 tw-text-f16">
                <i class="fa-solid fa-earth pr-3"></i>Fulfilled in <span class="tw-font-bold">16 </span>countries
              </div>
              <div class="tw-py-2">
                <p>Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi velit qui autem consequuntur eaque fugiat repellendus optio, animi vitae delectus numquam dolorem nobis magnam harum. Vitae dolor nemo asperiores similique?</p>
               </div>
              <div class="tw-py-2">
                <p class="tw-py-3 tw-text-f12">Size</p>
                <div class="tw-flex tw-flex-wrap tw-gap-3">
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> 13x18 cm / 5x7</button>
                </div>
              </div>
              <div class="tw-py-2">
                <p class="tw-py-3 tw-text-f12">Orientation</p>
                <div class="tw-flex tw-flex-wrap tw-gap-3">
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> Horizontal</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary">Vertical</button>
                   
                </div>
              </div>
              <div class="tw-py-2">
                <p class="tw-py-3 tw-text-f12">Frame</p>
                <div class="tw-flex tw-flex-wrap tw-gap-3">
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary"> Black</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary">Dark Wood</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary">
                      Wood</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary">
                      White</button>
                   
                </div>
              </div>
         
              <div class="tw-py-2">
                <p class="tw-py-3 tw-text-f12">Assembly</p>
                <div class="tw-flex tw-flex-wrap tw-gap-3">
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary">Ready to Hang</button>
                    <button class="tw-border tw-border-solid tw-border-black tw-p-4 tw-rounded hover:tw-border-primary">Not Assembled</button>
                     
                   
                </div>
              </div>
             
              <div class="tw-flex tw-mt-6 tw-items-center tw-pb-5 tw-border-b-2 tw-border-gray-100 tw-mb-5">
             
                <div class="tw-flex tw-ml-6 tw-items-center">
                  <span class="tw-mr-3">Deliver to: </span>
                  <div class="tw-relative">
                    <select class="tw-rounded tw-border tw-appearance-none tw-border-gray-300 tw-py-2 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-indigo-200 focus:tw-border-indigo-500 tw-text-base tw-pl-3 tw-pr-10">
                      <option>Japan</option>
                      <option>China</option>
                      <option>Germany</option>
                      <option>Finland</option>
                    </select>
                    <span class="tw-absolute tw-right-0 tw-top-0 tw-h-full tw-w-10 tw-text-center tw-text-gray-600 tw-pointer-events-none tw-flex tw-items-center tw-justify-center">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="tw-w-4 tw-h-4" viewBox="0 0 24 24">
                        <path d="M6 9l6 6 6-6"></path>
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <div class="tw-flex tw-justify-between tw-items-start">
                <span class="title-font tw-font-medium tw-text-2xl tw-text-gray-900">$58.00</span>
                <div class="tw-flex tw-flex-row tw-gap-3">
                  <button class="btn-primary">Buy</button>
                  <button class="tw-rounded-full tw-w-10 tw-h-10 tw-bg-gray-200 hover:tw-bg-primary hover:tw-text-white tw-p-0 tw-border-0 tw-inline-flex tw-items-center tw-justify-center tw-text-gray-500 tw-ml-4">
                    <i class="fa-solid fa-heart"></i>
                    </svg>
                  </button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
    

</section>
  
  
{% endblock body %}
{% block script %}

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>
{% endblock script %}